#include "CMDLG.h"

CMDLGAPMENU MENU 
{
	POPUP "&File"
	{
		MENUITEM "Information &Archival", CM_U_FILEPLAY
        	MENUITEM "&Configuration Display", CM_U_FILECON
//		MENUITEM "&Training File", CM_U_FILEPLAY
//		MENUITEM "C&oding File", CM_U_FILEPLAY
//		MENUITEM "&Play File", CM_U_FILEPLAY
		MENUITEM SEPARATOR
		MENUITEM "&Voice File Load", CM_U_FILEOPEN
		MENUITEM "&SOUNDREC.EXE", CM_U_FILEREC
        	MENUITEM "&Playback Rate", CM_U_FILERATE
		MENUITEM SEPARATOR
		MENUITEM "E&xit", CM_EXIT
	}
	POPUP "&Segment"
	{
		MENUITEM "&Segmentation Rules", CM_U_SEGLEV
	}
//	MENUITEM "&Segment", CM_U_SEGLEV
//	{
//		MENUITEM "&Silence Level", CM_U_SEGLEV
//		MENUITEM "Silence &Duration", CM_U_SEGDUR
//		MENUITEM "&Min Segment", CM_U_SEGMIN
//		MENUITEM "Ma&x Segment", CM_U_SEGMAX
//	}

	POPUP "&Identify"
	{
		MENUITEM "&ID Segment", CM_U_IDNEXT
		MENUITEM "&Number of ID's", CM_U_IDNUM
		MENUITEM "&Play Next Segment", CM_U_IDSTEP
		MENUITEM SEPARATOR
		MENUITEM "&Add Segments to Training Set", CM_U_IDFILE
		MENUITEM "&Clear Entire Training Set", CM_U_IDPAIR
	}

	POPUP "&Transform"
	{
//		MENUITEM "&Pseudo-Tran (0 Phase)", CM_U_TRANLPC
//		MENUITEM "&FFT Tran", CM_U_TRANFFT
		MENUITEM "&Transform Method", CM_U_TRANON
		MENUITEM "Transform &Dimensions", CM_U_TRANSIZE
		MENUITEM "&Windowing Method", CM_U_TRANHAMM
		MENUITEM SEPARATOR
		MENUITEM "&Magnitude or COS only", CM_U_TRANRMS
		MENUITEM "&Pitch Filter or Not", CM_U_TRANNOPITCH
//		MENUITEM "Window &Interval", CM_U_TRANINTERVAL
//		MENUITEM "Total &Number of Result Dimensions", CM_U_TRANDIM
	}

	POPUP "&Untransform"
	{
//		MENUITEM "&Calculate", CM_U_UNTRCALC
//		MENUITEM "&Filename", CM_U_UNTRFILE
//		MENUITEM "&Save to File", CM_U_UNTRSAVE
		MENUITEM "&Play all segments untransformed", CM_U_UNTRPLAY
	}

	POPUP "&Code"
	{
		MENUITEM "Code &On/Off", CM_U_CODEON
		MENUITEM "&Train One Pass", CM_U_CODEFILE
		MENUITEM SEPARATOR
		MENUITEM "&UCL", CM_U_CODEUCL
		MENUITEM "&Auto-assoc. NN", CM_U_CODEAUTOASSC
		MENUITEM SEPARATOR
		MENUITEM "&SCL", CM_U_CODESCL
		MENUITEM "&Backprop", CM_U_CODEBACK
	}

	POPUP "&Decode"
	{
		MENUITEM "&Play All Codes", CM_U_DECOON
//		MENUITEM "&Compressed Segment Playback", CM_U_DECOSEG
	}

	POPUP "Displa&y"
    	{
		MENUITEM "Resi&Ze", CM_U_SIZE
		MENUITEM "Co&Lor", CM_U_COLOR
		MENUITEM "F&Ont", CM_U_FONT
//		MENUITEM "ID &WAV", CM_U_WAV
//		MENUITEM "Run LP&C", CM_U_RUN
		MENUITEM SEPARATOR
		MENUITEM "&Susp}/Resume Visuallization", CM_U_DRAWNOT
		MENUITEM "&Refresh Screen", CM_U_DRAWNOW
		MENUITEM "&B & W Visuallization", CM_U_DRAWBW

	}
	POPUP "&Help"
	{
		MENUITEM "&About", CM_U_HELPABOUT
	}

}

FILE_BOX DIALOG 19, 19, 143, 109
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Raw Voice Data Configuration"
{
	LTEXT "Memory Allocated - ", -1, 10, 9, 64, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Filename", -1, 50, 29, 41, 11
	CONTROL "", FB_ALLOC, "EDIT", ES_RIGHT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 79, 8, 48, 12
	CONTROL "", FB_NAME, "EDIT", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 9, 43, 121, 37
	DEFPUSHBUTTON "OK", IDOK, 61, 91, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}

SEG_BOX DIALOG 20, 13, 190, 114
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Segmentation Rules"
{
	LTEXT "Silence Threshold", -1, 11, 8, 69, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Minimum Silence Length", -1, 10, 26, 82, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Minimum Sound Length to Qualify for Segment", -1, 10, 43, 82, 17, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Maximum Segment Length", -1, 10, 66, 91, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", SB_THRESH, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 110, 6, 50, 12
	CONTROL "", SB_DUR, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 110, 25, 49, 11
	CONTROL "", SB_MIN, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 110, 44, 48, 12
	CONTROL "", SB_MAX, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 110, 63, 48, 12
	PUSHBUTTON "Cancel", SB_CAN, 27, 88, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "Accept Changes", SB_ACC, 106, 87, 59, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}
ID_BOX DIALOG 18, 19, 133, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Identify Current Segment"
{
	LTEXT "ID Number", -1, 6, 7, 82, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "(optional) Name", -1, 7, 24, 82, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", IB_NUM, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 7, 22, 12
	EDITTEXT IB_NAME, 6, 40, 77, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON "Cancel", IB_CAN, 101, 66, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "Accept Changes", IB_ACC, 24, 66, 59, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}
TRAN_BOX DIALOG 18, 18, 141, 116
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TRAN_BOX"
{
	CONTROL "Frame Size / Overlap Max", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 9, 83, 10
	CONTROL "Interval / Skip Max", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 34, 85, 11
	LTEXT "Resultant # of Dimensions", -1, 6, 54, 74, 18, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", TB_SIZE, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 86, 10, 38, 12
	CONTROL "", TB_INTERVAL, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 86, 35, 38, 12
	CONTROL "", TB_DIM, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 86, 60, 37, 11
	PUSHBUTTON "Cancel", TB_CAN, 96, 90, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "Accept Changes", TB_ACC, 19, 90, 59, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}

ID2_BOX DIALOG 18, 18, 115, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Number of Different ID's"
{
	LTEXT "Number of Different ID's", -1, 11, 7, 86, 9
	CONTROL "", ID2_NUM, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 22, 38, 15
	PUSHBUTTON "Cancel", IDCANCEL, 84, 58, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "Accept Changes", IDOK, 7, 58, 59, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}


RESIZE_BOX DIALOG 18, 18, 110, 74
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Resize Screen"
{
	LTEXT "Enter New Screen Scale", -1, 17, 12, 102, 10
	CONTROL "", RB_SCALE, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 18, 27, 57, 13
	PUSHBUTTON "Cancel", IDCANCEL, 82, 54, 24, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "Accept Changes", IDOK, 5, 54, 59, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}


GETNUM DIALOG 18, 18, 142, 92
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enter Number"
{
	EDITTEXT GETNUM_NUM, 43, 27, 53, 13, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON "OK", GETNUM_OK, 17, 69, 24, 14
	PUSHBUTTON "Cancel", GETNUM_CAN, 76, 70, 43, 13
	CONTROL "", GETNUM_TEXT, "EDIT", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE, 3, 5, 136, 15
}

/*
CUR_SEG CURSOR 
{
	'00 00 02 00 01 00 20 20 02 00 00 00 00 00 30 01'
	'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
	'00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 3F FE 00 00'
	'3F FE 00 00 00 00 00 0F C0 00 00 0F C0 00 00 00'
	'00 00 7F F0 00 00 7F F0 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 01 50 00 00 0A A8 00 00 15 54'
	'00 00 2A AA 00 00 15 45 00 00 2A 8A 80 00 55 15'
	'00 00 2A 2A 80 00 55 15 00 00 2A 8A 80 00 15 45'
	'00 00 2A A2 00 00 15 50 00 00 0A A8 00 00 01 50'
	'00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FC 0F FF FF F0 03 FF FF E0 01 FF FF C0 00'
	'FF FF 80 00 7F FF 80 00 7F FF 00 00 3F FF 00 00'
	'3F FF 00 00 3F FF 00 00 3F FF 00 00 3F FF 80 00'
	'7F FF 80 00 7F FF C0 00 FF FF E0 01 FF FF F0 03'
	'FF FF FC 0F FF FF'
}


CUR_TRAN CURSOR 
{
	'00 00 02 00 01 00 20 20 02 00 00 00 00 00 30 01'
	'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
	'00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 00 00 00 00 20 00 18 00 20 06'
	'18 00 20 03 18 00 78 7F 98 00 20 7F 9E 00 20 03'
	'1E 00 30 06 18 00 1E 00 18 00 00 00 1F E0 00 00'
	'1F E0 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 00 00 00 00 01 50 00 00 0A A8 00 00 15 54'
	'00 00 2A AA 00 00 15 45 00 00 2A 8A 80 00 55 15'
	'00 00 2A 2A 80 00 55 15 00 00 2A 8A 80 00 15 45'
	'00 00 2A A2 00 00 15 50 00 00 0A A8 00 00 01 50'
	'00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FC 0F FF FF F0 03 FF FF E0 01 FF FF C0 00'
	'FF FF 80 00 7F FF 80 00 7F FF 00 00 3F FF 00 00'
	'3F FF 00 00 3F FF 00 00 3F FF 00 00 3F FF 80 00'
	'7F FF 80 00 7F FF C0 00 FF FF E0 01 FF FF F0 03'
	'FF FF FC 0F FF FF'
}


CUR_DRAW CURSOR 
{
	'00 00 02 00 01 00 20 20 02 00 00 00 00 00 30 01'
	'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
	'00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 0F'
	'E0 00 00 31 DC 00 00 C2 23 00 01 04 10 80 06 09'
	'C8 60 08 09 C8 10 06 09 C8 60 03 84 13 90 06 72'
	'3C 88 0C 2F C8 40 00 20 8C 40 00 20 84 00 00 00'
	'80 00 00 00 00 00 01 50 00 00 0A A8 00 00 15 54'
	'00 00 2A AA 00 00 15 45 00 00 2A 8A 80 00 55 15'
	'00 00 2A 2A 80 00 55 15 00 00 2A 8A 80 00 15 45'
	'00 00 2A A2 00 00 15 50 00 00 0A A8 00 00 01 50'
	'00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FC 0F FF FF F0 03 FF FF E0 01 FF FF C0 00'
	'FF FF 80 00 7F FF 80 00 7F FF 00 00 3F FF 00 00'
	'3F FF 00 00 3F FF 00 00 3F FF 00 00 3F FF 80 00'
	'7F FF 80 00 7F FF C0 00 FF FF E0 01 FF FF F0 03'
	'FF FF FC 0F FF FF'
}


CUR_NORM CURSOR 
{
	'00 00 02 00 01 00 20 20 02 00 00 00 00 00 30 01'
	'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
	'00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 00 07 FC 00 00 01 F0 00 00 01'
	'F0 00 3F 01 F0 00 3F 00 F0 00 21 00 E0 00 12 00'
	'E0 00 0A 00 E0 00 0F 00 E0 00 07 C0 E0 00 01 F0'
	'60 00 00 7E 40 FE 00 0F C0 FE 00 03 E0 82 00 00'
	'7C 42 00 00 1F 24 01 50 03 E4 0A A8 00 78 15 54'
	'00 18 2A AA 00 00 15 45 00 00 2A 8A 80 00 55 15'
	'00 00 2A 2A 80 00 55 15 00 00 2A 8A 80 00 15 45'
	'00 00 2A A2 00 00 15 50 00 00 0A A8 00 00 01 50'
	'00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FC 0F FF FF F0 03 FF FF E0 01 FF FF C0 00'
	'FF FF 80 00 7F FF 80 00 7F FF 00 00 3F FF 00 00'
	'3F FF 00 00 3F FF 00 00 3F FF 00 00 3F FF 80 00'
	'7F FF 80 00 7F FF C0 00 FF FF E0 01 FF FF F0 03'
	'FF FF FC 0F FF FF'
}


CUR_TRAI CURSOR 
{
	'00 00 02 00 01 00 20 20 02 00 00 00 00 00 30 01'
	'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
	'00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 03 80 00 00 01 E0 01 00 00 70'
	'00 A0 00 3C 00 C0 00 0E 00 82 00 03 83 84 00 00'
	'C7 09 00 00 7F 7E 00 00 7F F0 00 0F FF E1 00 01'
	'BF FE 00 03 3F D8 00 02 37 C6 00 02 36 E1 00 00'
	'26 70 00 00 22 30 01 50 02 18 0A A8 02 14 15 54'
	'02 14 2A AA 01 12 15 45 01 12 2A 8A 80 90 55 15'
	'00 80 2A 2A 80 00 55 15 00 00 2A 8A 80 00 15 45'
	'00 00 2A A2 00 00 15 50 00 00 0A A8 00 00 01 50'
	'00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FC 0F FF FF F0 03 FF FF E0 01 FF FF C0 00'
	'FF FF 80 00 7F FF 80 00 7F FF 00 00 3F FF 00 00'
	'3F FF 00 00 3F FF 00 00 3F FF 00 00 3F FF 80 00'
	'7F FF 80 00 7F FF C0 00 FF FF E0 01 FF FF F0 03'
	'FF FF FC 0F FF FF'
}


CUR_CODE CURSOR 
{
	'00 00 02 00 01 00 20 20 02 00 00 00 00 00 30 01'
	'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
	'00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 7E 00 00 00 42 00 00 00 7E 00'
	'00 00 42 00 06 06 42 00 03 0C 7E 01 03 0C 42 01'
	'C1 98 42 00 E0 F0 7E FF F0 F0 42 FF F0 60 42 00'
	'E0 F0 7E 01 C0 F0 42 01 01 98 42 00 03 0C 7E 00'
	'03 0C 00 00 06 06 01 50 00 00 0A A8 00 00 15 54'
	'00 00 2A AA 00 00 15 45 00 00 2A 8A 80 00 55 15'
	'00 00 2A 2A 80 00 55 15 00 00 2A 8A 80 00 15 45'
	'00 00 2A A2 00 00 15 50 00 00 0A A8 00 00 01 50'
	'00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FC 0F FF FF F0 03 FF FF E0 01 FF FF C0 00'
	'FF FF 80 00 7F FF 80 00 7F FF 00 00 3F FF 00 00'
	'3F FF 00 00 3F FF 00 00 3F FF 00 00 3F FF 80 00'
	'7F FF 80 00 7F FF C0 00 FF FF E0 01 FF FF F0 03'
	'FF FF FC 0F FF FF'
}


CUR_PLAY CURSOR 
{
	'00 00 02 00 01 00 20 20 02 00 00 00 00 00 30 01'
	'00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
	'00 00 01 00 01 00 00 00 00 00 00 02 00 00 00 00'
	'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
	'00 00 FF FF FF 00 00 F8 00 00 03 FE 00 00 07 FF'
	'00 00 0F FF 80 30 1F FF C0 C0 1F FF 07 00 1F F0'
	'18 00 1F F8 1F F8 1F FF 10 00 1F FF CC 00 0F FF'
	'83 00 07 FF 00 C0 03 FE 00 30 00 F8 00 00 00 00'
	'00 00 00 00 00 00 01 50 00 00 0A A8 00 00 15 54'
	'00 00 2A AA 00 00 15 45 00 00 2A 8A 80 00 55 15'
	'00 00 2A 2A 80 00 55 15 00 00 2A 8A 80 00 15 45'
	'00 00 2A A2 00 00 15 50 00 00 0A A8 00 00 01 50'
	'00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
	'FF FF FC 0F FF FF F0 03 FF FF E0 01 FF FF C0 00'
	'FF FF 80 00 7F FF 80 00 7F FF 00 00 3F FF 00 00'
	'3F FF 00 00 3F FF 00 00 3F FF 00 00 3F FF 80 00'
	'7F FF 80 00 7F FF C0 00 FF FF E0 01 FF FF F0 03'
	'FF FF FC 0F FF FF'
}
*/

CON_BOX DIALOG 9, 16, 345, 228
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CONFIGURATION OVERVIEW"
{
	LTEXT "Configuration File", -1, 3, 7, 61, 8
	LTEXT "Training File", -1, 4, 18, 59, 9
	LTEXT "Coding File", -1, 3, 30, 60, 8
	CONTROL "", CB_CONFILE, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 65, 3, 210, 11
	CONTROL "", CB_TRAFILE, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 65, 16, 210, 12
	CONTROL "", CB_CODFILE, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 65, 30, 210, 11
	LTEXT "Current Voice File Size", -1, 2, 41, 77, 10
	CONTROL "", CB_VSIZE, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 3, 49, 72, 11
	CONTROL " ", CB_THRESH, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER, 94, 77, 50, 12
	CONTROL "", CB_DUR, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER, 95, 90, 49, 11
	CONTROL "", CB_MIN, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER, 96, 102, 48, 12
	CONTROL "", CB_MAX, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER, 96, 116, 48, 12
	LTEXT "Silence Threshold", -1, 5, 79, 69, 10
	LTEXT "Minimum Silence Length", -1, 4, 91, 82, 9
	LTEXT "Minimum Sound Length to Qualify for Segment", -1, 5, 101, 82, 17
	LTEXT "Maximum Segment Length", -1, 5, 119, 91, 9
	LTEXT "Automatic Segmentation Settings", -1, 5, 64, 113, 10
	LTEXT "Transformation Settings", -1, 5, 131, 103, 10
	LTEXT "# of Samples/Frame", -1, 4, 143, 73, 10
	LTEXT "Samples Between Frames", -1, 3, 158, 85, 11
	LTEXT "Resultant # of Dimensions", -1, 3, 169, 74, 18, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", CB_SIZE, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER, 90, 142, 38, 12
	CONTROL "", CB_INTERVAL, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER, 90, 158, 38, 12
	CONTROL "", CB_DIM, "EDIT", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER, 91, 175, 37, 11
//	CONTROL "", 105, "BorShade", 4 | WS_CHILD | WS_VISIBLE, 2, 63, 146, 3
//	CONTROL "", 105, "BorShade", 4 | WS_CHILD | WS_VISIBLE, 2, 130, 146, 3
	CONTROL "", CB_TDESC, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 3, 190, 127, 12
	LTEXT "ID's In Use", -1, 175, 44, 44, 11
	CONTROL "", CB_ID1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 151, 65, 16, 12
	CONTROL "", CB_NAME1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 65, 33, 12
	CONTROL "", CB_ID2, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 151, 78, 16, 12
	CONTROL "", CB_NAME2, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 78, 33, 12
	CONTROL "", CB_ID3, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 151, 91, 16, 12
	CONTROL "", CB_NAME3, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 91, 33, 12
	CONTROL "", CB_ID4, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 151, 104, 16, 12
	CONTROL "", CB_NAME4, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 104, 33, 12
	CONTROL "", CB_ID5, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 151, 117, 16, 12
	CONTROL "", CB_NAME5, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 117, 33, 12
	CONTROL "", CB_ID6, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 151, 130, 16, 12
	CONTROL "", CB_NAME6, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 130, 33, 12
	CONTROL "", CB_ID7, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 151, 143, 16, 12
	CONTROL "", CB_NAME7, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 143, 33, 12
	PUSHBUTTON "More ID's", CB_MORE, 167, 169, 50, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
//	CONTROL "", 109, "BorShade", BSS_VBUMP | WS_CHILD | WS_VISIBLE, 245, 41, 2, 183
//	CONTROL "", 105, "BorShade", 4 | WS_CHILD | WS_VISIBLE, 4, 205, 142, 3
	CONTROL "", CB_EX1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 204, 65, 33, 12
	CONTROL "", CB_EX2, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 204, 78, 33, 12
	CONTROL "", CB_EX3, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 204, 91, 33, 12
	CONTROL "", CB_EX4, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 204, 104, 33, 12
	CONTROL "", CB_EX5, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 204, 117, 33, 12
	CONTROL "", CB_EX6, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 204, 130, 33, 12
	CONTROL "", CB_EX7, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 204, 143, 33, 12
	LTEXT "ID", -1, 156, 54, 8, 8
	LTEXT "Name", -1, 171, 54, 22, 8
	LTEXT "Examples", -1, 203, 54, 35, 8
	LTEXT "Coding Summary", -1, 250, 43, 88, 10
	CONTROL "", CB_CSUMM, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 250, 53, 90, 13
	LTEXT "Training Iterations So Far", -1, 250, 69, 87, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", CB_TITER, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 250, 79, 78, 12
	LTEXT "# Examples in Training File", -1, 252, 98, 91, 9
	CONTROL "", CB_NEXAM, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 251, 109, 90, 11
	LTEXT "# of Different ID's", -1, 252, 126, 86, 9
	CONTROL "", CB_NID, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 252, 138, 85, 12
	PUSHBUTTON "DONE    (No Edits Accepted Here)", IDOK, 4, 210, 142, 14
}


RAM_BOX DIALOG 16, 79, 304, 129
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Archival"
{
	EDITTEXT RAM_CON, 92, 7, 197, 14, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	LTEXT "Configuration File *.CON", -1, 8, 8, 80, 10
	CONTROL "", RAM_TRA, "EDIT", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 92, 40, 197, 14
	LTEXT "Training File *.TRA", -1, 8, 41, 80, 10
	CONTROL "", RAM_COD, "EDIT", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 92, 58, 197, 14
	LTEXT "Coding File *.COD", -1, 8, 59, 80, 10
	PUSHBUTTON "Browse", RAM_BROWSE, 10, 20, 49, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Save RAM to These Files", RAM_SAVE, 8, 85, 112, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Load RAM with These Files", RAM_LOAD, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 107, 122, 14
	DEFPUSHBUTTON "CANCEL", IDOK, 242, 78, 44, 19, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "Refresh", RAM_REFRESH, 243, 105, 44, 19, WS_CHILD | WS_VISIBLE | WS_TABSTOP
}


